@use '../../styles/variables_couleur' as *;


mat-card{
  width: 60%;
  margin: auto;
  text-align: center;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 60px 0px;
}


form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: auto;
}




button.mat-mdc-raised-button{
    
    padding: 5px;
    width: 60%;
    margin: auto;
    background-color: $couleur_bleu_primary;
    color: white;
}


button.mat-mdc-raised-button:hover{
    
    background-color: $couleur_bleu_secondary;
    
}